<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
string1 = 'Bienvenido a' #Declaración de variable de tipo String
string2 = "#MiPrimerTrabajo"
print(string1 + ' ' + string2 + ' en Colab') #Impresión de variables y concatenación de Strings

Bienvenido a #MiPrimerTrabajo en Colab

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = -565463653456653654 #Declaracion de variable de tipo entero
print(my_int) 
print(type(my_int)) #Imprime el tipo de variable

-565463653456653654
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "890"
print(type(my_string))
my_int = int(my_string) #int() convierte un string a entero
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "689"
my_float = float(my_string) #float() convierte un string a flotante
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = True #Declaración variable de tipo booleana
print(my_bool) 
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 4+3) #Imprime suma
print("Subtraction ", 7-5) #Imprime resta
print("Multiplication ", 4*5) #Imprime multiplicación
print("Division ", 9/3) #Imprime division
print('exponent', 5**3) #Imprime potencia

Addition  7
Subtraction  2
Multiplication  20
Division  3.0
exponent 125

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(8/4) #Division retorna float
print(3.0/4)

2.0
0.75

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Valentina', 'Colmenares', 27,9,2000] #Declaración de variable de tipo lista
print(my_list) #Imprime la lista

['Valentina', 'Colmenares', 27, 9, 2000]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Valentina', 'Colmenares', 27,9,2000]
print(len(my_list)) #Imprime longitud la lista
print(my_list[0]) #Imprime dato de la primera posición de la lista
print(my_list[len(my_list) -1]) #Imprime dato de la última posición de la lista

5
Valentina
2000

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Valentina', 'Colmenares', 27,9,2000]
my_list[2] = 'Leguizamo' #Cambia el dato en la posición 2 de la lista
print(my_list)

['Valentina', 'Colmenares', 'Leguizamo', 9, 2000]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Valentina', 'Colmenares', 27,9,2000]
print(my_list[1:4]) #Imprime los elementos de la lista desde la posición 1 a la 3

['Colmenares', 27, 9]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[2:]) #Imprime los elementos de la lista desde la posición 2 a la última posición

[27, 9, 2000]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) #Imprime los tres primeros números de la lista

['Valentina', 'Colmenares', 27]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Holis', 'Jefa']
my_list.append('Buenas') #Agrega un elemento al final de la lista
print(my_list)

['Holis', 'Jefa', 'Buenas']

In [ ]:
my_list.remove('Jefa') #Elimina el elemento especificado de la lista
print(my_list)

['Holis', 'Buenas']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Bienvenido','a','Algoritmos') #Declaración de tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Bienvenido','a','Algoritmos') 
print(my_tuple[0:]) #imprime los elementos de la posición 0 hasta la última posición

('Bienvenido', 'a', 'Algoritmos')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['JUAN','EVA','DAVID','JUAN','DAVID','LUIS','FRED','EVA']
stock_set = set(stock_list) #set() elimina los elementos duplicados de una lista
print(stock_set)

{'JUAN', 'EVA', 'DAVID', 'FRED', 'LUIS'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'JUAN':'Usaquen', 'IVAN':'Suba', 'GABRIELA':'Fontibon'} #Declaración de diccionario

In [ ]:
print(my_dic['GABRIELA']) #Imprime el valor de la llave 'GABRIELA' declarada en el diccionario

Engativa

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GABRIELA'] = 'Engativa' #Cambio del valor de la llave engativa
print(my_dic['GABRIELA']) #Imprime el valor de la llave 'GABRIELA' cambiada anteriormente

Engativa

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) #Imprime las llaves del diccionario

dict_keys(['JUAN', 'IVAN', 'GABRIELA'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Bienvenido a Mi Mundo' 
print(my_str[12:]) # imprime desde la posicion 12 de la cadena

 Mi Mundo

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Anita lava la tina'.count('la')) #imprime las veces que aparecen la cadena indicada
print('ne lo sé, dime tú'.find('é')) #imprime la posición en donde se encuentra por primera vez el caracter indicado a buscar
print('que es eso, eso es queso!'.replace('que','what')) #reemplaza las partes de la cadena donde aparece la primera cadena por la segunda cadena indicadas en replace()

2
7
what es eso, eso es whatso!

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2022-03-14 12:08:41'
splited_list = Time.split(' ') #crea una lista de la cadena Time separando los elementos cada vez que haya un espacio
date = splited_list[0] #guarda el dato de la posición 0 de la lista en la variable date 
time = splited_list[1] #guarda el dato de la posición 1 de la lista en la variable time 
print(date, time) 
hour = time.split(':')[1] #guarda en la variable hour el valor de la posición 1 de la lista que se crea con time.split() separando los elementos cada vez que haya ":"
print(hour)

2022-03-14 12:08:41
08

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Dia: {}, Mes: {}{}, Año:{}{}{}{}'.format('09','0','3','2','0','0','0') #imprime las cadenas indicadas en format() cada vez que haya un para de corchetes indicando la inserción {}
print(my_time)

Dia: 09, Mes: 03, Año:2000

Another way to format a string is to use the % symbol.

In [ ]:
print('the euler number is %f'%2.7182) # %f imprime el número con un formato de seis decimales
print('%s to %s'%('Hola','my World')) # %s indica dónde hacer la inserción de las cadenas indicadas en %()

the euler number is 2.718200
Hola to my World

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(7 == 1) # == verifica si dos elemento son iguales
print(7 < 7)  # < verifica si el primer elemento es estrictamente menor que el segundo elemento
print(2 != -2) # != verifica si dos elementos son diferentes
print(3 >= 3) # >= verifica si el primer elemento es mayor o igual al segundo elemento
print(4 <= 3) # <= verifica si el primer elemento es menor o igual al segundo elemento

False
False
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [10]:
print('hola' < 'ola' and 6 > 4) # and retorna true solo si ambas condicionales son verdaderas
print(7 > 4 and 'perro' < 'gato') # and retorna false si almenos una de las condiciones es falsa
print(1 > 8 or 6 < 4) # or retorna false solo si ambas condicionales son falsas
print(1 < 8 or 9 < 0) # or retorna true si almenos una de las condicionales es verdadera

True
False
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [14]:
print((6 > 4 or 2 < 6) and (2!=6 and 8>6) and not ( 6 < 4 or 2 < 6 and (2!=6 and 8>6))) #Declaración lógica con varios condicionales
print(6 > 4 or 2 < 6 and (2!=6 and 8>6) and not ( 6 < 4 or 2 < 6 and (2!=6 and 8>6)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [15]:
i = "correcto"
if i == "correcto": # entra al if si la condicional se cumple
    print('Entró, entonces imprime')

Entró, entonces imprime

As we mentioned above, we can write some complex statements here:

In [19]:
p = 'acer' > 'hacer' # declaracion de variable booleana
q = 765 < 654
if p and q:           # entra si ambas condicionales son verdaderas
    print('p and q is true')
elif p and not q:     # entra si la condicional p es verdadera y q es falsa
    print('q is false')
elif q and not p:     # entra si la condicional q es verdadera y p es falsa
    print('p is false')
else:                 # entra si ambas condicionales son falsas
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [23]:
cadena = "AA"
while len(cadena) < 10:  #Repite las lineas de código identadas hasta que la condicional sea falsa
    print(cadena)
    cadena += 'la' # += suma a la variable la cantidad o caracter indicados

AA
AAla
AAlala
AAlalala

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [25]:
for fruta in ["mora","fresa","banano","uva"]: #Recorre la lista de números 1, 2, 3, 4 y 5 asignando cada valor a i e imprimiendolo
    print(fruta)

mora
fresa
banano
uva

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [29]:
numeros = [0,1,3,4,5,6,8,9]
posible = [2,5,7]
noendos = []
for i in numeros: # recorre la lista numeros
    if i not in posible: # verifica si cada número de la lista numeros esta en la lista posible
        noendos.append(i) # si el numero i no esta en la lista posible se agregara a la lista noendos
print(noendos) #imprime la lista resultante noendos

[0, 1, 3, 4, 6, 8, 9]

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [31]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
for red in redes: #Recorre la lista redes
    print(red) #Imprime la red de la lista
    if red == 'VINES': #Verifica si la red es igual a "VINES"
        break #Si la red es "VINES" el bucle se detendrá

INSTAGRAM
FACEBOOK
TWITTER
PINTEREST
TIKTOK
VINES

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [33]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
for i in redes: #Recorre la lista redes
    if i == 'VINES': #Verifica si la red es igual a "VINES"
        continue #Si la red es "VINES" terminará la iteración y continuará con el siguiente elemento de la lista redes
    print(i)

INSTAGRAM
FACEBOOK
TWITTER
PINTEREST
TIKTOK
SNAPCHAT
TELEGRAM

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [39]:
fives = []
for i in [1,2,3,4,5]: # Recorre la lista 1, 2, 3, 4, y 5
    fives.append(5**i) # Agrega a la lista fives las potencias del 5 con los exponentes del 1 al 5
print(fives)

[5, 25, 125, 625, 3125]

Using list comprehension:

In [40]:
exponent = [1,2,3,4,5]
sixes = [6**x for x in exponent] # Crea la lista de potencias de 6 tomando de exponente los elementos en la lista exponent
print(sixes)

[6, 36, 216, 1296, 7776]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [44]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
seleccion = ['PINTEREST','VSCO','SNAPCHAT']
new_list = [x for x in redes if x in seleccion] # Crea la lista de los elementos de la lista redes que esten en la lista seleccion
print(new_list)

['PINTEREST', 'SNAPCHAT']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [47]:
print([(x, y) for x in [7,8,9] for y in [4,2,5] if x != y]) #Itera x con los valores 7,8,9 y y con los valores 4,2,5 mientras que ambos sean diferentes 
print([str(x)+' vs '+str(y) for x in ['FRESA','UVA','MELON','PIÑA'] for y in ['BANANO','PAPAYA','PIÑA','NARANJA'] if x!=y]) #Itera x y y con los respectivos valores de los for e imprime solo si x y y son diferentes

[(7, 4), (7, 2), (7, 5), (8, 4), (8, 2), (8, 5), (9, 4), (9, 2), (9, 5)]
['FRESA vs BANANO', 'FRESA vs PAPAYA', 'FRESA vs PIÑA', 'FRESA vs NARANJA', 'UVA vs BANANO', 'UVA vs PAPAYA', 'UVA vs PIÑA', 'UVA vs NARANJA', 'MELON vs BANANO', 'MELON vs PAPAYA', 'MELON vs PIÑA', 'MELON vs NARANJA', 'PIÑA vs BANANO', 'PIÑA vs PAPAYA', 'PIÑA vs NARANJA']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [49]:
def product(x,y): #Declara la funcion product
    return x*y  #retorna la multiplicacion de x y y
print(product(6,5)) #imprime el resultado de pasar como parametro 2 y 3 en la funcion product 
print(product(7,2)) #imprime el resultado de pasar como parametro 5 y 10 en la funcion product

30
14

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [50]:
def saludar(): #Declara la funcion saludar 
    print('Bienvido al tutorial') 
saludar() #Llama a la funcion saludar

Bienvido al tutorial

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [55]:
print(range(15)) #imprime el intervalo del rango de 15 
print(range(3,12)) #imprime el intervalo del rango de 3 a 12 
print(range(6,20,2)) #imprime el intervalo del rango de 6 a 20 con saltos de 2

range(0, 15)
range(3, 12)
range(6, 20, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [62]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
print('The length of social media is {}'.format(len(redes))) # Imprime la longitud de la lista redes con format insertando en valor en {}
for i in range(len(redes)): #Itera la cantidad de elementos en la lista redes y los imprime
    print(redes[i])

The length of social media is 8
INSTAGRAM
FACEBOOK
TWITTER
PINTEREST
TIKTOK
VINES
SNAPCHAT
TELEGRAM

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [78]:
list = [2,4,8,16,32]
print(list)
del list #Borra la lista list
list #clase list, es un nombre reservado y ya no tiene los elementos

[2, 4, 8, 16, 32]

list

In [79]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
list(map(len,redes)) #map() es un metodo de la clase list y aplica la funcion len a todos los elementos de la lista redes y se imprimen sin usar un print()

[9, 8, 7, 9, 6, 5, 8, 8]

In [83]:
redes = ['INSTAGRAM','FACEBOOK','TWITTER','PINTEREST','TIKTOK','VINES', 'SNAPCHAT', 'TELEGRAM']
print(list(map(len,redes))) #aplica la funcion len a todos los elementos de la lista redes y esta vez se imprimen con print()

[9, 8, 7, 9, 6, 5, 8, 8]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [86]:
list(map(lambda x: 2**x, range(10))) #lambda crea funciones que solo se necesitan donde son creadas, guarda las potencias de 2 con exponentes del rango de 10

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

map() can be applied to more than one list. The lists have to have the same length.

In [88]:
list(map(lambda x, y: x-y, [5,4,3,2,1],[1,2,3,4,5])) #Declara una lista con la resta donde x y y toman sus valores de listas diferentes

[4, 2, 0, -2, -4]

**sorted()** takes a list or set and returns a new sorted list

In [104]:
sorted([10,-4,9,7,3]) #Ordena la lista en una nueva lista

[-4, 3, 7, 9, 10]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [105]:
price_list = [('Chicle',300),('Colombina',550),('Supercoco',100),('Caramelo',200),('Menta',50)] #Declara lista de tuplas
sorted(price_list, key = lambda x: x[0]) # la funcion lamba llama el elemento en la posicion 0 de la tupla y se organiza de acuerdo a este elemento en una nueva lista

[('Caramelo', 200),
 ('Chicle', 300),
 ('Colombina', 550),
 ('Menta', 50),
 ('Supercoco', 100)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [106]:
price_list = [('Chicle',300),('Colombina',550),('Supercoco',100),('Caramelo',200),('Menta',50)]
sorted(price_list, key = lambda x: x[0],reverse = True) #Ordena en forma descendente los nombres de la lista de precios en una nueva lista

[('Supercoco', 100),
 ('Menta', 50),
 ('Colombina', 550),
 ('Chicle', 300),
 ('Caramelo', 200)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [103]:
price_list = [('Chicle',300),('Colombina',550),('Supercoco',100),('Caramelo',200),('Menta',50)]
price_list.sort(key = lambda x: x[0]) #.sort() ordena la lista y no crea una nueva
print(price_list)

[('Caramelo', 200), ('Chicle', 300), ('Colombina', 550), ('Menta', 50), ('Supercoco', 100)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [110]:
class stock:  #Declaración de la clase stock
    def __init__(self, ticker, open, close, volume):  #Declaración del método __init__, inicializa los atributos ticker, open, close, volume y rate_return
        self.ticker = ticker #Inicialización de atributos en un método
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1 #Guarda un resultado flotante en el atributo rate_return
 
    def update(self, open, close): #Declaración del método update, actualiza los valores de los atributos open, close y rate_return
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1 #Guarda un resultado flotante en el atributo rate_return
 
    def print_return(self): #Declaración del método print_return
        print(self.rate_return) #Imprime el valor resultante del atributo rate_return

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [136]:
xiaomi = stock('XIAOMI', 7430.69, 8440.09, 7679564) #Declaración del objeto xiaomi y sus atributos en la clase stock
huawei = stock('HUAWEI', 10098.7, 17090.7, 6585675) #Declaración del objeto huawei y sus atributos en la clase stock

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [137]:
xiaomi.ticker # Atributp ticker de xiaomi
huawei.print_return() #Llama el metodo print_return() e imprime el valor rate_return del objeto huawei
huawei.update(912.8,913.4) #Actualiza los atributos open and close del objeto huawei
huawei.print_return()

0.6923663441829147
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [122]:
xiaomi.sim = 'Claro' #Declara el atributo sim
xiaomi.sim  #Imprime el atributo sim del objeto xiaomi

'Claro'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [141]:
dir(xiaomi) #Imprime nombres de atributos y métodos definidos en el objeto indicado

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [143]:
class child(stock): #La clase child hereda de la clase stock
    def __init__(self,name):  #Declaración del método __init__, inicializa el atributo name
        self.name = name  #Actualización del atributo name

In [148]:
redmi = child('redmi')  #Utiliza la clase hija y heredará los atributos de stock
print(redmi.name) #Imprime atributo name del objeto redmi
redmi.update(100,102) #Utiliza el método update de stock para asignar valores a los atributos open y close
print(redmi.open) #Imprime atributo open del objeto redmi
print(redmi.close) #Imprime atributo close del objeto redmi
print(redmi.print_return()) #Imprime atributo rate_return del objeto redmi

redmi
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [150]:
import numpy as np #Importación de la librería numpy como np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [176]:
prices = [737.43, 924.84, 534.53, 434.12, 909.80, 230.84]
price_array = np.array(prices) #Declaración del arreglo de precios con la libreria numpy
print(price_array, type(price_array)) #imprime el arreglo creado con numpy y el tipo de dato

[737.43 924.84 534.53 434.12 909.8  230.84] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [171]:
Ma = np.array([[5,8,7],[1,4,2],[3,9,0],[6,7,3]]) #crea matriz 2x2
print(Ma, type(Ma)) #imprime matriz 2x2 y el tipo de dato

[[5 8 7]
 [1 4 2]
 [3 9 0]
 [6 7 3]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [172]:
print(Ma.shape) #imprime las dimensiones del arreglo creado con numpy

(4, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [173]:
print(Ma[0]) #imprime la fila en la posición 0 de la matriz
print(Ma[2]) #imprime la fila en la posición 2 de la matriz

[5 8 7]
[3 9 0]

If we want to access the matrix by column instead:

In [174]:
print('the first column: ', Ma[:,0]) # imprime la primera columna de la matriz
print('the second column: ', Ma[:,2]) # imprime la segunda columna de la matriz

the first column:  [5 1 3 6]
the second column:  [7 2 0 3]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [178]:
print(np.log(price_array)) #aplica el logaritmo natural a todos los elementos del arreglo

[6.60317117 6.82962075 6.28138786 6.07332099 6.8132248  5.44172483]

Other functions return a single value:

In [180]:
print(np.mean(price_array)) # mean() retorna la media aritmetica de los elementos del arreglo
print(np.std(price_array))  # std() retorna la desviación estándar de los elementos del arreglo
print(np.sum(price_array))  # sum() retorna la suma de los elementos del arreglo
print(np.max(price_array))  # max() retorna el máximo valor entre los elementos del arreglo

628.5933333333334
252.8372991778617
3771.5600000000004
924.84

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [183]:
import pandas as pd #Importación de la librería pandas

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [245]:
medidas = [737.43, 924.84, 534.53, 434.12, 909.80, 230.84]
s = pd.Series(medidas) #Series() crea la serie de la lista indicada
s #imprime la serie y el tipo de dato

0    737.43
1    924.84
2    534.53
3    434.12
4    909.80
5    230.84
dtype: float64

We can customize the indices of a new Series:

In [246]:
s = pd.Series(medidas,index = ['u','v','w',1,3,4]) #index personaliza los indices de la serie
s

u    737.43
v    924.84
w    534.53
1    434.12
3    909.80
4    230.84
dtype: float64

Or we can change the indices of an existing Series:

In [247]:
s.index = [1,2,3,'x','y','z'] #Cambia los indices de una serie ya creada
s

1    737.43
2    924.84
3    534.53
x    434.12
y    909.80
z    230.84
dtype: float64

Series is like a list since it can be sliced by index:

In [248]:
print(s[1:]) #imprime la serie desde el indice 1
print(s[:-3]) #imprime la serie excepto los últimos tres índices

2    924.84
3    534.53
x    434.12
y    909.80
z    230.84
dtype: float64
1    737.43
2    924.84
3    534.53
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [249]:
print(s['x']) #imprime el indice 'x' de la serie
s[3] = 38.5 #actualiza el indice 3 de la serie
print(s) #impresión de la serie con print()

434.12
1    737.43
2    924.84
3     38.50
x    434.12
y    909.80
z    230.84
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [250]:
s = pd.Series(medidas, name = 'Medidas colegio') #actualización del nombre de la serie
print(s)  
print(s.name) #impresión del nombre de la serie

0    737.43
1    924.84
2    534.53
3    434.12
4    909.80
5    230.84
Name: Medidas colegio, dtype: float64
Medidas colegio

We can get the statistical summaries of a Series:

In [251]:
print(s.describe()) #Imprime el resumen estadístico de la serie

count      6.000000
mean     628.593333
std      276.969384
min      230.840000
25%      459.222500
50%      635.980000
75%      866.707500
max      924.840000
Name: Medidas colegio, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [263]:
time_index = pd.date_range('2022-04-16',periods = len(s),freq = 'D') #asigna el rango de fechas, con una fecha inicial, numero de periodos y frecuencia
print(time_index) #imprime los valores que toman los índices de tiempo 
s.index = time_index #asigna a los índices los índices de tiempo
print(s)

DatetimeIndex(['2022-04-16', '2022-04-17', '2022-04-18', '2022-04-19',
               '2022-04-20', '2022-04-21'],
              dtype='datetime64[ns]', freq='D')
2022-04-16    737.43
2022-04-17    924.84
2022-04-18    534.53
2022-04-19    434.12
2022-04-20    909.80
2022-04-21    230.84
Freq: D, Name: Medidas colegio, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [260]:
s.index = [6,5,4,3,2,1] #asigna los indices 6,5,4,3,2,1 a la serie
print(s) #imprime la serie
print(s[3]) #imprime el indice 1 de la serie

6    737.43
5    924.84
4    534.53
3    434.12
2    909.80
1    230.84
Name: Medidas colegio, dtype: float64
434.12

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [261]:
print(s.iloc[2]) #imprime el elemento de la posición indicada de la serie

534.53

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [266]:
s.index = time_index #asigna a los índices los índices de tiempo
print(s['2022-04-19']) #imprime el elemento con el índice indicado

434.12

We can even access to a range of dates:

In [265]:
print(s['2022-04-17':'2022-04-20']) #Imprime los elementos del rango de índices indicado

2022-04-17    924.84
2022-04-18    534.53
2022-04-19    434.12
2022-04-20    909.80
Freq: D, Name: Medidas colegio, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [268]:
print(s[s < np.mean(s)] ) #imprime los elementos que cumplan la condicional, en este caso los menores a la media aritmetica
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) #imprime los elementos que cumplan la condicional

2022-04-18    534.53
2022-04-19    434.12
2022-04-21    230.84
Name: Medidas colegio, dtype: float64
[2022-04-16     True
2022-04-17     True
2022-04-18    False
2022-04-19    False
2022-04-20     True
2022-04-21    False
Freq: D, Name: Medidas colegio, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [271]:
!pip install yfinance #Instalación de Yahoo Finance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [300]:
import yfinance as yf #Importación de Yahoo Finance como yf

aapl = yf.Ticker("AAPL") #asignación de la tienda

print(aapl.info) #imprime la información de la tienda

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2018-12-31") #obtiene los datos del historial de mercado dado una fecha de inicio y de fin
aapl_table #imprime el historial

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.19949031, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.053094983, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.7353, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 95333020, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 168.0858, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 95333020, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95562583, 'dayLow': 150.385, 'ask': 155.1, 'askSize': 1300, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 155.01, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590636,24.225176,23.450393,24.220577,270597600,0.0,0
2016-01-05,24.312542,24.335533,23.544658,23.613628,223164000,0.0,0
2016-01-06,23.119327,23.535458,22.960694,23.151514,273829600,0.0,0
2016-01-07,22.687104,23.020467,22.169816,22.174414,324377600,0.0,0
2016-01-08,22.657215,22.785962,22.245684,22.291664,283192000,0.0,0
...,...,...,...,...,...,...,...
2018-12-21,38.020592,38.335693,36.268145,36.534767,382978400,0.0,0
2018-12-24,35.909417,36.733530,35.531296,35.589470,148676800,0.0,0
2018-12-26,35.945775,38.110276,35.562806,38.095734,234330000,0.0,0
2018-12-27,37.773364,37.998785,36.374802,37.848503,212468400,0.0,0
2018-12-28,38.175720,38.422954,37.460683,37.867889,169165600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [301]:
aapl = aapl_table['Open']['2016'] #asigna la columna de close del historial donde el año sea 2016

In [302]:
print(aapl) #imprime la serie con el valor de close y el índice de la fecha donde el año sea 2016

Date
2016-01-04    23.590636
2016-01-05    24.312542
2016-01-06    23.119327
2016-01-07    22.687104
2016-01-08    22.657215
                ...
2016-12-23    27.166074
2016-12-27    27.384646
2016-12-28    27.619666
2016-12-29    27.368196
2016-12-30    27.415201
Name: Open, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [303]:
print(aapl['2016-9']) #imprime la serie con el valor de open y el índice de la fecha donde el año sea 2016 y el mes 9

Date
2016-09-01    24.817711
2016-09-02    25.182471
2016-09-06    25.229237
2016-09-07    25.212871
2016-09-08    25.077253
2016-09-09    24.466980
2016-09-12    24.001676
2016-09-13    25.138047
2016-09-14    25.423312
2016-09-15    26.622805
2016-09-16    26.917418
2016-09-19    26.933790
2016-09-20    26.433411
2016-09-21    26.620469
2016-09-22    26.737376
2016-09-23    26.753747
2016-09-26    26.103723
2016-09-27    26.421719
2016-09-28    26.583054
2016-09-29    26.459131
2016-09-30    26.295454
Name: Open, dtype: float64

In [304]:
aapl['2016-8':'2016-11']  #imprime la serie con el valor de open y el intervalo de los índices de las fechas indicadas

Date
2016-08-01    24.281664
2016-08-02    24.663063
2016-08-03    24.374690
2016-08-04    24.686769
2016-08-05    24.848107
                ...
2016-11-23    26.171942
2016-11-25    26.117888
2016-11-28    26.188392
2016-11-29    26.035628
2016-11-30    26.228349
Name: Open, Length: 86, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [307]:
print(aapl.head(8)) #imprime los primeros 8 elementos de la serie
print(aapl.tail(7)) #imprime los últimos 7 elementos de la serie

Date
2016-01-04    23.590636
2016-01-05    24.312542
2016-01-06    23.119327
2016-01-07    22.687104
2016-01-08    22.657215
2016-01-11    22.753778
2016-01-12    23.117032
2016-01-13    23.064154
Name: Open, dtype: float64
Date
2016-12-21    27.450462
2016-12-22    27.344698
2016-12-23    27.166074
2016-12-27    27.384646
2016-12-28    27.619666
2016-12-29    27.368196
2016-12-30    27.415201
Name: Open, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [308]:
by_month = aapl.resample('M').mean() #agrupa la serie con frecuencia mensual, obteniendo la media de los datos diarios
print(by_month)

Date
2016-01-31    22.693156
2016-02-29    22.102554
2016-03-31    23.997604
2016-04-30    24.683875
2016-05-31    22.064643
2016-06-30    22.462722
2016-07-31    22.895834
2016-08-31    25.109799
2016-09-30    25.877698
2016-10-31    27.063279
2016-11-30    25.858821
2016-12-31    26.791389
Freq: M, Name: Open, dtype: float64

We can also aggregate the data by week:

In [310]:
by_week = aapl.resample('W').mean() #agrupa la serie con frecuencia semanal, obteniendo la media de los datos diarios
print(by_week.head()) #imprime los primeros cinco datos de la serie

Date
2016-01-10    23.273365
2016-01-17    22.714695
2016-01-24    22.369836
2016-01-31    22.350064
2016-02-07    22.085391
Freq: W-SUN, Name: Open, dtype: float64

We can also aggregate the data by month with max:

In [312]:
aapl.resample('M').max() #agrupa la serie con frecuencia mensual, obteniendo el valor máximo por mes

Date
2016-01-31    24.312542
2016-02-29    22.847196
2016-03-31    25.362146
2016-04-30    25.914602
2016-05-31    23.181657
2016-06-30    23.081653
2016-07-31    24.249107
2016-08-31    25.633753
2016-09-30    26.933790
2016-10-31    27.632910
2016-11-30    26.529282
2016-12-31    27.619666
Freq: M, Name: Open, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [314]:
three_day = aapl.resample('3D').mean() #agrupa la serie con frecuencia de tres días, obteniendo la media de los datos diarios
two_week = aapl.resample('2W').mean() #agrupa la serie con frecuencia de dos semanas, obteniendo la media de los datos diarios
two_month = aapl.resample('2M').mean() #agrupa la serie con frecuencia de dos meses, obteniendo la media de los datos diarios


print(three_day) #imprime la media aritmética de los datos cada tres días
print(two_week) #imprime la media aritmética de los datos cada dos semanas
print(two_month ) #imprime la media aritmética de los datos cada dos meses

Date
2016-01-04    23.674169
2016-01-07    22.672160
2016-01-10    22.935405
2016-01-13    22.567556
2016-01-16          NaN
                ...
2016-12-17    27.215436
2016-12-20    27.410503
2016-12-23    27.166074
2016-12-26    27.502156
2016-12-29    27.391699
Freq: 3D, Name: Open, Length: 121, dtype: float64
Date
2016-01-10    23.273365
2016-01-24    22.561424
2016-02-07    22.217728
2016-02-21    22.032765
2016-03-06    22.604714
2016-03-20    23.819659
2016-04-03    24.686405
2016-04-17    25.469864
2016-05-01    23.851788
2016-05-15    21.664313
2016-05-29    22.355131
2016-06-12    22.927902
2016-06-26    22.394201
2016-07-10    22.015230
2016-07-24    22.906996
2016-08-07    24.061373
2016-08-21    25.384261
2016-09-04    25.082865
2016-09-18    25.343289
2016-10-02    26.534187
2016-10-16    26.934254
2016-10-30    27.241262
2016-11-13    25.964441
2016-11-27    25.723573
2016-12-11    25.976405
2016-12-25    27.151977
2017-01-08    27.446927
Freq: 2W-SUN, Name: Open, dtype: float64
Date
2016-01-31    22.693156
2016-03-31    23.095199
2016-05-31    23.374259
2016-07-31    22.668966
2016-09-30    25.476296
2016-11-30    26.461050
2017-01-31    26.791389
Freq: 2M, Name: Open, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [316]:
std = aapl.resample('W').std() #agrupa la serie con frecuencia semanal, obteniendo la desviación estándar de los datos diarios
max = aapl.resample('W').max() #agrupa la serie con frecuencia semanal, obteniendo el dato máximo de los datos diarios
min = aapl.resample('W').min() #agrupa la serie con frecuencia semanal, obteniendo el dato mínimo de los datos diarios


print(std) #imprime la desviación estándar de los datos semanales
print(max) #imprime el dato máximo de los datos semanales
print(min) #imprime el dato mínimo de los datos semanales

Date
2016-01-10    0.694194
2016-01-17    0.412350
2016-01-24    0.373046
2016-01-31    0.770236
2016-02-07    0.191373
2016-02-14    0.238523
2016-02-21    0.374504
2016-02-28    0.277821
2016-03-06    0.526748
2016-03-13    0.156046
2016-03-20    0.390791
2016-03-27    0.125866
2016-04-03    0.475035
2016-04-10    0.140029
2016-04-17    0.318619
2016-04-24    0.335304
2016-05-01    1.130554
2016-05-08    0.121479
2016-05-15    0.332927
2016-05-22    0.223988
2016-05-29    0.373826
2016-06-05    0.224455
2016-06-12    0.114470
2016-06-19    0.213013
2016-06-26    0.320591
2016-07-03    0.249843
2016-07-10    0.181840
2016-07-17    0.191212
2016-07-24    0.119470
2016-07-31    0.812989
2016-08-07    0.235010
2016-08-14    0.116364
2016-08-21    0.130656
2016-08-28    0.165265
2016-09-04    0.192540
2016-09-11    0.359581
2016-09-18    1.180979
2016-09-25    0.184559
2016-10-02    0.181960
2016-10-09    0.143343
2016-10-16    0.270109
2016-10-23    0.128628
2016-10-30    0.411629
2016-11-06    0.433603
2016-11-13    0.355211
2016-11-20    0.371628
2016-11-27    0.179244
2016-12-04    0.228908
2016-12-11    0.290902
2016-12-18    0.296923
2016-12-25    0.128219
2017-01-01    0.116794
Freq: W-SUN, Name: Open, dtype: float64
Date
2016-01-10    24.312542
2016-01-17    23.117032
2016-01-24    22.675610
2016-01-31    23.340036
2016-02-07    22.310921
2016-02-14    22.172226
2016-02-21    22.847196
2016-02-28    22.468099
2016-03-06    23.663166
2016-03-13    23.667793
2016-03-20    24.580851
2016-03-27    24.613210
2016-04-03    25.362146
2016-04-10    25.523954
2016-04-17    25.914602
2016-04-24    25.170284
2016-05-01    24.271106
2016-05-08    22.005795
2016-05-15    21.739781
2016-05-22    22.009546
2016-05-29    23.181657
2016-06-05    23.163050
2016-06-12    23.081653
2016-06-19    22.951417
2016-06-26    22.383966
2016-07-03    22.207221
2016-07-10    22.439782
2016-07-17    23.004904
2016-07-24    23.256072
2016-07-31    24.249107
2016-08-07    24.848107
2016-08-14    25.418631
2016-08-21    25.633753
2016-08-28    25.453705
2016-09-04    25.182471
2016-09-11    25.229237
2016-09-18    26.917418
2016-09-25    26.933790
2016-10-02    26.583054
2016-10-09    26.728022
2016-10-16    27.562768
2016-10-23    27.632910
2016-10-30    27.579132
2016-11-06    26.573705
2016-11-13    26.108485
2016-11-20    25.807658
2016-11-27    26.310602
2016-12-04    26.228349
2016-12-11    26.395209
2016-12-18    27.372901
2016-12-25    27.450462
2017-01-01    27.619666
Freq: W-SUN, Name: Open, dtype: float64
Date
2016-01-10    22.657215
2016-01-17    22.116939
2016-01-24    21.864045
2016-01-31    21.562865
2016-02-07    21.841052
2016-02-14    21.527308
2016-02-21    21.964192
2016-02-28    21.723793
2016-03-06    22.389512
2016-03-13    23.295638
2016-03-20    23.556840
2016-03-27    24.328888
2016-04-03    24.245673
2016-04-10    25.174915
2016-04-17    25.188782
2016-04-24    24.273409
2016-05-01    21.726102
2016-05-08    21.714191
2016-05-15    20.930465
2016-05-22    21.486283
2016-05-29    22.295594
2016-06-05    22.697924
2016-06-12    22.788623
2016-06-19    22.430482
2016-06-26    21.607222
2016-07-03    21.604887
2016-07-10    22.000239
2016-07-17    22.500248
2016-07-24    22.953737
2016-07-31    22.516530
2016-08-07    24.281664
2016-08-14    25.140387
2016-08-21    25.285354
2016-08-28    25.109989
2016-09-04    24.705481
2016-09-11    24.466980
2016-09-18    24.001676
2016-09-25    26.433411
2016-10-02    26.103723
2016-10-09    26.353915
2016-10-16    26.894036
2016-10-23    27.312576
2016-10-30    26.625146
2016-11-06    25.506833
2016-11-13    25.175453
2016-11-20    25.046192
2016-11-27    25.880514
2016-12-04    25.657242
2016-12-11    25.678399
2016-12-18    26.625529
2016-12-25    27.166074
2017-01-01    27.368196
Freq: W-SUN, Name: Open, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [318]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) #Agrupa los datos diarios en meses y obtiene el dato del último día del mes
print(last_day) #imprime el último día de cada mes

Date
2016-01-31    21.792771
2016-02-29    22.389512
2016-03-31    25.362146
2016-04-30    21.726102
2016-05-31    23.163050
2016-06-30    21.963036
2016-07-31    24.230501
2016-08-31    24.705481
2016-09-30    26.295454
2016-10-31    26.573705
2016-11-30    26.228349
2016-12-31    27.415201
Freq: M, Name: Open, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [321]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) #agrupa los datos por meses según la tasa de rendimiento de cada mes
print(monthly_return) #imprime los datos por meses según la tasa de rendimiento de cada mes

Date
2016-01-31   -0.076211
2016-02-29    0.009491
2016-03-31    0.123605
2016-04-30   -0.135963
2016-05-31    0.066366
2016-06-30   -0.046253
2016-07-31    0.091109
2016-08-31    0.017454
2016-09-30    0.059544
2016-10-31    0.008340
2016-11-30   -0.011343
2016-12-31    0.056899
Freq: M, Name: Open, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [323]:
print(monthly_return.mean()) #imprime la media de los datos agrupados por meses según la tasa de rendimiento mensual
print(monthly_return.std()) #imprime la desviación estándar de los datos agrupados por meses según la tasa de rendimiento mensual
print(monthly_return.max()) #imprime el dato máximo de los datos agrupados por meses según la tasa de rendimiento mensual

0.013586517343994306
0.07359447157886119
0.12360496929887121

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [324]:
print(last_day.diff()) #imprime los datos con la diferencia entre elementos consecutivos
print(last_day.pct_change()) #imprime los datos con los porcentajes de cambio

Date
2016-01-31         NaN
2016-02-29    0.596740
2016-03-31    2.972634
2016-04-30   -3.636044
2016-05-31    1.436948
2016-06-30   -1.200014
2016-07-31    2.267465
2016-08-31    0.474980
2016-09-30    1.589972
2016-10-31    0.278252
2016-11-30   -0.345357
2016-12-31    1.186852
Freq: M, Name: Open, dtype: float64
Date
2016-01-31         NaN
2016-02-29    0.027382
2016-03-31    0.132769
2016-04-30   -0.143365
2016-05-31    0.066139
2016-06-30   -0.051807
2016-07-31    0.103240
2016-08-31    0.019603
2016-09-30    0.064357
2016-10-31    0.010582
2016-11-30   -0.012996
2016-12-31    0.045251
Freq: M, Name: Open, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [325]:
daily_return = last_day.pct_change() #asigna los datos con los porcentajes de cambio
print(daily_return.fillna(0)) #imprime la serie y reemplaza los valores NaN por 0

Date
2016-01-31    0.000000
2016-02-29    0.027382
2016-03-31    0.132769
2016-04-30   -0.143365
2016-05-31    0.066139
2016-06-30   -0.051807
2016-07-31    0.103240
2016-08-31    0.019603
2016-09-30    0.064357
2016-10-31    0.010582
2016-11-30   -0.012996
2016-12-31    0.045251
Freq: M, Name: Open, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [326]:
daily_return = last_day.pct_change()  #asigna los datos con los porcentajes de cambio
print(daily_return.fillna(method = 'bfill'))  #imprime la serie y reemplaza los valores NaN con el siguiente valor de la serie

Date
2016-01-31    0.027382
2016-02-29    0.027382
2016-03-31    0.132769
2016-04-30   -0.143365
2016-05-31    0.066139
2016-06-30   -0.051807
2016-07-31    0.103240
2016-08-31    0.019603
2016-09-30    0.064357
2016-10-31    0.010582
2016-11-30   -0.012996
2016-12-31    0.045251
Freq: M, Name: Open, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [328]:
daily_return = last_day.pct_change() #asigna los datos con los porcentajes de cambio
daily_return.dropna() #imprime la serie y elimina los datos donde el resultado es NaN

Date
2016-02-29    0.027382
2016-03-31    0.132769
2016-04-30   -0.143365
2016-05-31    0.066139
2016-06-30   -0.051807
2016-07-31    0.103240
2016-08-31    0.019603
2016-09-30    0.064357
2016-10-31    0.010582
2016-11-30   -0.012996
2016-12-31    0.045251
Freq: M, Name: Open, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [331]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #Declaración de diccionario
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D') #declara el intervalo de tiempo con fecha de inicio, numero de periodos y frecuencia
df = pd.DataFrame(dict, index = data_index) #crea el DataFrame del diccionario con los indices de tiempo
print(df) #imprime el DataFrame

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [333]:
df = aapl_table #iguala df a la tabla que se manejó anteriormente
print(df.Close.tail(5)) #imprime los últimos cinco datos de la columna Close 
print(df['Volume'].tail(5)) #imprime los últimos cinco datos de la columna Volume

Date
2018-12-21    36.534767
2018-12-24    35.589470
2018-12-26    38.095734
2018-12-27    37.848503
2018-12-28    37.867889
Name: Close, dtype: float64
Date
2018-12-21    382978400
2018-12-24    148676800
2018-12-26    234330000
2018-12-27    212468400
2018-12-28    169165600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [336]:
aapl_2016 = df['2016'] #Asigna los valores del DataFrame de 2016
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #Agrupa los datos por meses con él último día de cada mes
print(aapl_month) #imprime el DataFrame

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030  257666000        0.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726102  21.894845  21.383996  21.668314  274126000        0.0
2016-05-31  23.163050  23.349099  22.981653  23.223516  169228800        0.0
2016-06-30  21.963036  22.272340  21.930477  22.232805  143345600        0.0
2016-07-31  24.230501  24.314223  24.111894  24.235151  110934800        0.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600        0.0
2016-09-30  26.295454  26.508231  26.141133  26.433409  145516400        0.0
2016-10-31  26.573705  26.709322  26.468485  26.547985  105677600        0.0
2016-11-30  26.228349  26.369361  25.915770  25.974525  144649200        0.0
2016-12-31  27.415201  27.544461  27.128475  27.220133  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [338]:
aapl_bar = aapl_month[['Open', 'Low', 'High', 'Close']] #asigna el DataFrame con el orden de columnas indicado
print(aapl_bar) #Imprime el DataFrame

                 Open        Low       High      Close
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030
2016-02-29  22.389512  22.340970  22.706192  22.350216
2016-03-31  25.362146  25.167976  25.403754  25.193403
2016-04-30  21.726102  21.383996  21.894845  21.668314
2016-05-31  23.163050  22.981653  23.349099  23.223516
2016-06-30  21.963036  21.930477  22.272340  22.232805
2016-07-31  24.230501  24.111894  24.314223  24.235151
2016-08-31  24.705481  24.700804  24.918257  24.808361
2016-09-30  26.295454  26.141133  26.508231  26.433409
2016-10-31  26.573705  26.468485  26.709322  26.547985
2016-11-30  26.228349  25.915770  26.369361  25.974525
2016-12-31  27.415201  27.128475  27.544461  27.220133

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [339]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]) #imprime los datos por meses según el intervalo de tiempo y columnas indicadas

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726102  21.894845  21.383996  21.668314
2016-05-31  23.163050  23.349099  22.981653  23.223516
2016-06-30  21.963036  22.272340  21.930477  22.232805

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [342]:
import numpy as np #Importación de librería numpy

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] #Guarda los datos donde los valores de Close son mayores a la media de todos los valores de Close 
print(above) #imprime el DataFrame

                 Open        Low       High      Close
Date
2016-03-31  25.362146  25.167976  25.403754  25.193403
2016-08-31  24.705481  24.700804  24.918257  24.808361
2016-09-30  26.295454  26.141133  26.508231  26.433409
2016-10-31  26.573705  26.468485  26.709322  26.547985
2016-11-30  26.228349  25.915770  26.369361  25.974525
2016-12-31  27.415201  27.128475  27.544461  27.220133

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [344]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() #agrega una nueva columna al DataFrame con los porcentajes de cambio de Close
print(aapl_bar) #imprime el DataFrame con la nueva columna

                 Open        Low       High      Close  rate_return
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [345]:
missing = aapl_bar.isnull() #modifica los valores en el DataFrame si encuentra un valor null lo reemplaza por true
print(missing)  #imprime el DataFrame resultante de aplicar el método isnull()
print('---------------------------------------------') #imprime línea de caracteres
print(missing.describe()) #imprime el resumen estadístico del DataFrame

             Open    Low   High  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open    Low   High  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [347]:
print(missing[missing.rate_return == True]) #verifica los datos de rate_return e imprime los valores en donde es True

             Open    Low   High  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [349]:
drop = aapl_bar.dropna() #elimina las filas donde rate_return es NaN
print(drop) #imprime el DataFrame al cual se le aplicó dropna()
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) #reemplaza los valores de NaN en rate_return con 0
print(fill) #imprime el DataFrame al cual se le aplicó fillna()

                 Open        Low       High      Close  rate_return
Date
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955

--------------------------------------------------

                 Open        Low       High      Close  rate_return
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030     0.000000
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [352]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL') #Declaración de serie
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG') #Declaración de serie
data_frame = pd.concat([s1,s2], axis = 1) #Concatena las series s1 y s2 en un DataFrame por columnas
print(data_frame) #Imprime el DataFrame

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [354]:
log_price = np.log(aapl_bar.Close) #crea una serie con los valores de logaritmo natural de Close
log_price.name = 'log_price' #asigna el nombre a la serie
print(log_price)  #imprime la serie
print('\n---------------------- separate line--------------------\n') #Cadena de caracteres
concat = pd.concat([aapl_bar, log_price], axis = 1) #Concatena las series indicadas en un DataFrame por columnas
print(concat) #imprime el DataFrame

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open        Low       High      Close  rate_return  log_price
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN   3.108124
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288   3.106836
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211   3.226582
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921   3.075851
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773   3.145165
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660   3.101569
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063   3.187804
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652   3.211181
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504   3.274629
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335   3.278954
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601   3.257116
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [362]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) #crea la serie con un intervalo de tiempo y columnas indicados y agrupa la información por meses con el último día del mes
print(df_volume) #imprime el DataFrame
print('\n---------------------- separate line--------------------\n') #imprime línea de carcteres
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) #crea la serie con un intervalo de tiempo y columnas indicados y agrupa la información por meses con el último día del mes
print(df_2017) #imprime el DataFrame

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573705  26.709322  26.468485  26.547985
2016-11-30  26.228349  26.369361  25.915770  25.974525
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472801  28.529205  28.348240  28.519804
2017-02-28  32.356364  32.441338  32.266668  32.335121
2017-03-31  33.923666  34.053488  33.756076  33.909504
2017-04-30  34.011005  34.060575  33.817454  33.907146

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [363]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #Concatena los DataFrames indicados 
print(concat) #Imprime el DataFrame

                 Open        Low       High      Close  rate_return  \
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [364]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')  #Concatena los DataFrames indicados por intersección
print(concat) #imprime el DataFrame

                 Open        Low       High      Close  rate_return  \
Date
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [366]:
append = aapl_bar.append(df_2017) #Adjunta los DataFrames indicados
print(append) #Imprime el DataFrame

                 Open        Low       High      Close  rate_return
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955
2016-10-31  26.573705  26.468485  26.709322  26.547985          NaN
2016-11-30  26.228349  25.915770  26.369361  25.974525          NaN
2016-12-31  27.415201  27.128475  27.544461  27.220133          NaN
2017-01-31  28.472801  28.348240  28.529205  28.519804          NaN
2017-02-28  32.356364  32.266668  32.441338  32.335121          NaN
2017-03-31  33.923666  33.756076  34.053488  33.909504          NaN
2017-04-30  34.011005  33.817454  34.060575  33.907146          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [367]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #Concatena los DataFrames indicados con axis igualado a 0
print(concat) #Imprime el DataFrame

                 Open        Low       High      Close  rate_return
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955
2016-10-31  26.573705  26.468485  26.709322  26.547985          NaN
2016-11-30  26.228349  25.915770  26.369361  25.974525          NaN
2016-12-31  27.415201  27.128475  27.544461  27.220133          NaN
2017-01-31  28.472801  28.348240  28.529205  28.519804          NaN
2017-02-28  32.356364  32.266668  32.441338  32.335121          NaN
2017-03-31  33.923666  33.756076  34.053488  33.909504          NaN
2017-04-30  34.011005  33.817454  34.060575  33.907146          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [368]:
df_2017.columns = ['Change', 'High','Low','Close'] #Asigna las columnas indicadas al DataFrame
concat = pd.concat([aapl_bar, df_2017], axis = 0) #Concatena los DataFrames indicados con axis igualado a 0
print(concat) #Imprime el DataFrame

                 Open        Low       High      Close  rate_return     Change
Date
2016-01-31  21.792771  21.691612  22.379030  22.379030          NaN        NaN
2016-02-29  22.389512  22.340970  22.706192  22.350216    -0.001288        NaN
2016-03-31  25.362146  25.167976  25.403754  25.193403     0.127211        NaN
2016-04-30  21.726102  21.383996  21.894845  21.668314    -0.139921        NaN
2016-05-31  23.163050  22.981653  23.349099  23.223516     0.071773        NaN
2016-06-30  21.963036  21.930477  22.272340  22.232805    -0.042660        NaN
2016-07-31  24.230501  24.111894  24.314223  24.235151     0.090063        NaN
2016-08-31  24.705481  24.700804  24.918257  24.808361     0.023652        NaN
2016-09-30  26.295454  26.141133  26.508231  26.433409     0.065504        NaN
2016-10-31  26.573705  26.468485  26.709322  26.547985     0.004335        NaN
2016-11-30  26.228349  25.915770  26.369361  25.974525    -0.021601        NaN
2016-12-31  27.415201  27.128475  27.544461  27.220133     0.047955        NaN
2016-10-31        NaN  26.468485  26.709322  26.547985          NaN  26.573705
2016-11-30        NaN  25.915770  26.369361  25.974525          NaN  26.228349
2016-12-31        NaN  27.128475  27.544461  27.220133          NaN  27.415201
2017-01-31        NaN  28.348240  28.529205  28.519804          NaN  28.472801
2017-02-28        NaN  32.266668  32.441338  32.335121          NaN  32.356364
2017-03-31        NaN  33.756076  34.053488  33.909504          NaN  33.923666
2017-04-30        NaN  33.817454  34.060575  33.907146          NaN  34.011005

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.